* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
/*Title------------*/
header {
  background: #2b2b2b;
  padding: 1rem 2rem;
  text-align: center;
  
}

/*Logo-------------*/
#logo {
  color: white;
  font-weight: 400;
  font-weight: lighter;
  font-style: italic;
}

body {
    background: #434343;
}

div {
  color: white;
}

.conteiner {
  width: 100%; /*Limitar a lateral*/
}

#title {
    margin: 1.5rem 3rem 3rem 3rem;
    text-align: center;
  
    font-size: 1.2rem;
}

#valorReal {

  margin: 1.5rem auto 3rem auto;
  width: 20vw;
  display: block;
}

#resultado {
  margin: 3rem auto 3rem auto;
  width: 20vw;
  display: block;
}

button {
  background: #43E056;
  color: white;
  font-size: 1rem;
  
  height: auto;
  width: auto;
  margin: 1.5rem auto 2rem auto;
  padding: 0.5rem;
  border-radius: 8px;
  display: block;
}

button:hover {
  background: #3bbd4a;
  transition: 0.5s;
}